<nav>
    <a [routerLink]="['/']">官网首页</a>
    <a [routerLink]="['/about']">新手指南</a>
    <a [routerLink]="['/github', 'angular']">游戏公告</a>
    <a [routerLink]="['/github', 'angular']">游戏列表</a>
    <a [routerLink]="['/about']">剧本创作</a>
    <a [routerLink]="['/github', 'angular']">剧照分享</a>
    <a [routerLink]="['/github', 'angular']">侦探推理</a>
    <a [routerLink]="['/contact']">联系我们</a>
</nav>

<!--
<div class="navbar">
    <ul>
        <li><a [routerLink]="['/']">Home</a></li>
        <li><a [routerLink]="['/about']">About</a></li>
        <li><a [routerLink]="['/github', 'angular']">Github Repos</a></li>
         <li><a [routerLink]="['/contact']">Contact Us</a><li>
    </ul>
</div>

<!--
<navbar selected-nav-item="currentNavItem" layout="row" layout-align="center center">
  <navbar-item class="groupX left" md-nav-click="goto('page1')" name="Home">
    Home
  </navbar-item>
  <navbar-item class="groupX middle" md-nav-href="#page2" name="About">About</navbar-item>
  <navbar-item class="groupX middle" md-nav-sref="page3" name="Github Repos">Github Repos</navbar-item>
  <navbar-item class="groupX right" md-nav-sref="app.page4" sref-opts="{reload: true, notify: true}" name="Contact Us">
    Contact Us
  </navbar-item>
</navbar>
-->

